* {
    margin: 0;
    padding: 0;
}

p {
    font-family: Roboto Mono;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: purple;
    display: flex;
    justify-content: center;
}

label {
    font-family: Roboto, Arial;
    font-size: 30px;
    margin-right: 20px;
}



li {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

h1 {
    font-family: Roboto;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: Roboto;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    font-family: Roboto;
    font-size: 40px;
}

li::before {
    content: "✂️";     
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    background-color: rgb(255, 253, 208);
}

header { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 208);
}

nav {
    background-color: mistyrose;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
}

.full-width {
    grid-column: 1 / -1;
    background-color: rgb(251, 136, 65);
    margin-bottom: 10px;
    background-image: url(hairsalon.jpg);
}

.three-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 20px;
    margin-bottom: 50px;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    background-color: mistyrose;
}
