.header-logo-img {
    width: 200px;
    height: 100px;
    border-radius: 0;
}
.header-logo-img2 {
    width: 200px;
    height: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-button {
    font-family: Roboto, Arial;
    font-weight: 500;
    padding: 1.5vh 4vw;
    border-radius: 20px;
    background-color: rgb(255, 159, 127);
    border: none;
    margin-top:10px;
    margin-bottom: 10px;
}

.nav-button:hover {
    animation: nav-anim 1s infinite ease-out;
    background-color: rgb(252, 179, 155);
    cursor: pointer;

}


@keyframes nav-anim {
    
    from {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    50% {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    to {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.section1 {
    display: flex;
    justify-content: center;
}

.type-animation {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(59) infinite;
}

@keyframes typing {
    from { width: 0; }
    70% {width: 100%}
    to { width: 100%; }
}

.section2 {
    margin-left: 20px;
    margin-right: 20px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}


.article-div {
    width:100%;
    height:80px;
    margin-top: 20px;
    background-color:rgb(252, 179, 155);
    border-radius: 30px;
    transition: transform 0.3 ease;
}

#first-row-text {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 1600px) {
    #first-row-text {
        font-size: 30px;
    }
}

@media (max-width: 1350px) {
    #first-row-text {
        font-size: 25px;
    }
}

@media (max-width: 1000px) {
    #first-row-text {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    #first-row-text {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #first-row-text {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    #first-row-text {
        font-size: 12px;
    }
}

article > div > p { 
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    transition: transform 0.3 ease;
}

 
article img {
    transition: transform 0.3 ease;
}

article img:hover {
    transform: scale(1.03);
    opacity: 0.8;
}
article > div > p, .article-div:hover, ul li:hover {
    transform: scale(1.03);
}

.footer-section1 {
    display: flex;
    align-items: center;
}


.footer-logo-img1 {
    width: 5vw;
    height: auto;
    border-radius: 0;
    margin-right: 40px;
}

.footer-logo-img2 {
    width: 20vw;
    height: auto;
    border-radius: 0;
}

.footer-section2 {
    position: relative;
}
.footer-section2 > p {
    position:absolute;
    right:0;
    bottom: 0;
    font-size: 20px;

}

.about-images {
    width: 600px;
}

#full-name {
    height: 35px;
    border-radius: 20px;
    text-indent: 10px;

}

.adjust-div {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
}

#date-appointment {
    height: 35px;
    border-radius: 20px;
    text-indent: 4px;
}

#radio-service {
    transform: scale(2)
}

#submit-button {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: rgb(194, 194, 194);
}